<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid text-center">
            <h1>创建新订单</h1>
        </div>
    </nav>
    <div class="row" style="margin: 0">
        <div class="col-sm-offset-1 col-sm-10">
            <form id="add_order_form" class="form-horizontal" action="/order/add" role="form" method="post">
                <div class="row">
                    <div class="form-horizontal" role="form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">订单创建人</label>
                                <div class="col-sm-7">
                                    <input name="sName" type="text" class="form-control" readonly="readonly"
                                           th:value="${orderCreator}">
                                    <input name="sId" hidden="hidden" th:value="${sId}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">选择客户</label>
                                <div class="col-sm-7">
                                    <input name="cId" type="text" class="form-control" placeholder="选择客户"
                                           list="customer_list">
                                    <datalist id="customer_list">
                                        <option th:each="customer:${customer}" th:value="${customer.cId}"
                                                th:text="${customer.cName}"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">订单创建日期</label>
                                <div class="col-sm-7">
                                    <input name="addTime" id="addTime" class="form-control" type="text"  readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">订单执行日期</label>
                                <div class="col-sm-7">
                                    <input name="executeTime" class="form-control" type="date" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">订单对应合同</label>
                                <div class="col-sm-7">
                                    <input name="pId" class="form-control" type="text" placeholder="订单对应合同" required="required"
                                           list="pact_list">
                                    <datalist id="pact_list">
                                        <option th:each="pact:${pact}" th:value="${pact.pId}"
                                                th:text="${pact.pTitle}"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">订单状态</label>
                                <div class="col-sm-7">
                                    <input name="oState" class="form-control" type="text" value="未审核"
                                           readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">选择产品</label>
                                <div class="col-sm-7">
                                    <input name="gId" type="text" class="form-control" placeholder="选择产品"
                                           list="goods_list">
                                    <datalist id="goods_list">
                                        <option th:each="product:${product}" th:value="${product.gId}"
                                                th:text="${product.gName}"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">产品数量</label>
                                <div class="col-sm-7">
                                    <input name="oGnum" id="goods_num" type="number" class="form-control" value="1" required="required"
                                           onchange="money()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">销售单价</label>
                                <div class="col-sm-7">
                                    <input name="sellPrice" id="sell_price" type="number" class="form-control"
                                            onchange="money()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">产品成本</label>
                                <div class="col-sm-7">
                                    <input name="goodsCost" id="goods_cost" class="form-control" type="text"
                                            readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">总销售金额</label>
                                <div class="col-sm-7">
                                    <input name="oMoney" id="total_money" class="form-control" type="text"
                                           readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">订单毛利润</label>
                                <div class="col-sm-7">
                                    <input name="oGprofit" id="gross_profit" class="form-control" type="text"
                                           readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="modalAddSubmit('#add_order_form')" type="button" class="btn btn-primary">提交</button>
                </div>
            </form>


        </div>
    </div>

</div>
<script>
    //计算销售总额和毛利润
    function money() {
        var goodsNum = $("#goods_num").val();    //数量
        var sellPrice = $("#sell_price").val();  //单价
        var goodsCost = $("#goods_cost").val();  //单个成本
        var oMoney = goodsNum * sellPrice;     //销售总金额
        var oGprofit = oMoney - goodsNum * goodsCost;//毛利
        $("#total_money").val(oMoney.toFixed(2));
        $("#gross_profit").val(oGprofit.toFixed(2))
    }

    //显示时间
    function show() {
        var mydate = new Date();
        var str = "" + mydate.getFullYear() + "-";
        str += (mydate.getMonth() + 1) + "-";
        str += mydate.getDate();
        return str;
    }

    $("#addTime").val(show());


    $("#add_order_form  input[name='gId']").change(function () {
        var gId = $(this).val();
        console.log(gId);
        $.get("/order/selectPrice",{gId:gId},function (goods) {
            $("#add_order_form  input[name='goodsCost']").val(goods.gCosting.toFixed(2));
            $("#add_order_form  input[name='sellPrice']").val(goods.gPrice.toFixed(2));
        });
    });
</script>