<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">

    <nav id="order_table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search" id="order_search_form">
                    <div class="form-group">
                        <span>订单编号：</span>

                        <input type="text" class="form-control" name="pTitle">
                    </div>
                    <div class="form-group">
                        <span>审核情况：</span>
                        <select class="form-control" name="execStatus">
                            <option value="">所有</option>
                            <option>未审核</option>
                            <option>已审核</option>
                            <option>订单通过</option>
                            <option>订单驳回</option>
                        </select>
                    </div>

                    <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px"
                            onclick="onSelect(this)">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="main_context_body">
        <table id="order_table" class="table table-hover table-striped table-bordered" cellspacing="0"
               cellpadding="0">
            <thead>
            <tr class="success">
                <th>订单编号</th>
                <th>创建人</th>
                <th>订单客户</th>
                <th>创建日期</th>
                <th>执行日期</th>
                <th>对应合同</th>
                <th>订单产品</th>
                <th>产品数量</th>
                <th>销售单价</th>
                <th>产品成本</th>
                <th>总销售金额</th>
                <th>订单毛利润</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="myOrder:${myOrder}">
                <td th:text="${myOrder.oId}"></td>
                <td th:text="${myOrder.sName}"></td>
                <td th:text="${myOrder.cName}"></td>
                <td th:text="${#dates.format(myOrder.oAddtime,'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(myOrder.oExecutetime,'yyyy-MM-dd')}"></td>
                <td><a th:href="${'/Pact/preview.html?filePath='+myOrder.PactFilePath}" target="_blank" th:text="${myOrder.pId}"></a></td>
                <td th:text="${myOrder.gId}"></td>
                <td th:text="${myOrder.oGnum}"></td>
                <td th:text="${myOrder.sellPrice}"></td>
                <td th:text="${myOrder.cost}"></td>
                <td th:text="${myOrder.oMoney}"></td>
                <td th:text="${myOrder.oGprofit}"></td>
                <td th:text="${myOrder.oState}"></td>
                <td>
                    <a href="javascript:void(0);"
                       th:onclick="'onShowModal(\'/rder/getOne\','+${myOrder.pId}+')'">修改</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);"
                       th:onclick="'deleteById(\'/order/delete.html\',this,'+${myOrder.pId}+')'">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">

            <ul class="pager " style="text-align: right" data-dataUrl="/order/order.html" data-table="#order_table"
                data-search="#order_search_form" th:attr="data-thispage=${pageNum}">
                <li><a href="javascript:void(0);" onclick="pageChange(this,0);"> <span
                        class="glyphicon glyphicon-fast-backward"></span>首页</a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum -1}+');'"><span
                        class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                <li><a th:text="${pageNum}+'/'+${pages}"></a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum+1}+');'"><span
                        class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                <li><a href="javascript:void(0);" onclick="pageChange(this,9999);"><span
                        class="glyphicon glyphicon-fast-forward"></span>末页</a></li>
            </ul>
        </div>
    </div>
</div>
