<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="main_table">
    <nav id="dep_table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 10px">
                            <button type="button" class="btn  btn-primary btn-md"
                                    onclick="onShowModal('/userManage/addUser.html')">
                                <i class="glyphicon glyphicon-plus"></i>增加
                            </button>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="main_context_body">
        <table id="user_table" class="table table-hover table-striped table-bordered">
            <thead>
            <tr class="success">
                <th>用户ID</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>用户类型</th>
                <th>地址</th>
                <th>电话</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--"userName","uId","userRole","name","address","phone"-->
            <tr th:each="user:${allUser}">
                <td th:text="${user.uId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.userRole}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.phone}"></td>
                <td>
                    <a href="javascript:void(0);"
                       th:onclick="'onShowModal(\'/userManage/update.html\','+${user.uId}+')'">修改</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);"
                       th:onclick="'deleteById(\'/userManage/delete\',this,'+${user.uId}+')'">删除</a>

                </td>
            </tr>

            </tbody>
        </table>
        <div class="text-right">
            <ul class="pager " style="text-align: right" dataUrl="/userManage/user.html" table="#user_table"
                th:attr="thispage=${pageNum}">
                <li><a href="javascript:void(0);" onclick="pageChange(this,0);"> <span
                        class="glyphicon glyphicon-fast-backward"></span>首页</a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum -1}+');'"><span
                        class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                <li><a th:text="${pageNum}+'/'+${pages}"></a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum+1}+');'"><span
                        class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                <li><a href="javascript:void(0);" onclick="pageChange(this,9999);"><span
                        class="glyphicon glyphicon-fast-forward"></span>末页</a></li>
            </ul>
        </div>
    </div>
</div>