<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="goods_table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search" id="goods_search_form">
                    <div class="form-group">
                        <span>作品名称 : </span>
                        <input type="text" class="form-control" name="gName">
                    </div>

                    <div class="form-group">
                        <span>书法作者 : </span>
                        <select  class="form-control" name="gAuthor" >
                            <option value="">所有</option>
                            <option th:each="author:${author}" th:text="${author}" th:value="${author}"></option>
                        </select>
                    </div>
                    <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px"  onclick="onSelect(this)">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                </form>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 10px">
                            <button type="button" class="btn  btn-primary btn-md" onclick="onShowModal('/goods/addGoods.html')">
                                <i class="glyphicon glyphicon-plus"></i>增加
                            </button>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="main_context_body">
        <table id="goods_table" class="table table-hover table-striped table-bordered">
            <thead>
            <tr class="success">
                <th>作品批号</th>
                <th>作品名称</th>
                <th>作品单价</th>
                <th>作品成本</th>
                <th>书法作者</th>
                <th>作品字体</th>
                <th>作品规格</th>
                <th>作品状态</th>
                <th>作品备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goods:${allGoods}" >
                <td th:text="${goods.gId}"></td>
                <td th:text="${goods.gName}"></td>
                <td th:text="${goods.gPrice}"></td>
                <td th:text="${goods.gCosting}"></td>
                <td th:text="${goods.gAuthor}"></td>
                <td th:text="${goods.gTypeface}"></td>
                <td th:text="${goods.gSpecification}"></td>
                <td th:text="${goods.gStatus}"></td>
                <td th:text="${goods.gRemark}"></td>
                <td>
                    <a href="javascript:void(0);" th:onclick="'onShowModal(\'/goods/update.html\','+${goods.gId}+')'">修改</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" th:onclick="'deleteById(\'/goods/delsedeGoods\',this,'+${goods.gId}+')'">删除</a>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="text-right">
            <ul class="pager " style="text-align: right"  data-dataUrl="/goods/goods.html" data-table="#goods_table" data-search="#goods_search_form" th:attr="data-thispage=${pageNum}">
                <li><a href="javascript:void(0);" onclick="pageChange(this,0);"> <span class="glyphicon glyphicon-fast-backward"></span>首页</a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum -1}+');'"><span class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                <li><a  th:text="${pageNum}+'/'+${pages}"></a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum+1}+');'"><span class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                <li><a href="javascript:void(0);" onclick="pageChange(this,9999);"><span class="glyphicon glyphicon-fast-forward"></span>末页</a></li>
            </ul>
        </div>
    </div>
</div>
<script>



</script>