<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="staff_table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search" id="staff_search_form">
                    <div class="form-group">
                        <span>姓名 : </span>
                        <input type="text" class="form-control" name="sName">
                    </div>

                    <div class="form-group">
                        <span>部门 : </span>
                        <select class="form-control" name="dId">
                            <option value="0">所有</option>
                            <option th:each="depInfoPojoList:${depInfoPojoList}" th:value="${depInfoPojoList.dId}" th:text="${depInfoPojoList.dName}"></option>
                        </select>
                    </div>
                    <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px"  onclick="onSelect(this)">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                </form>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 10px">
                            <button type="button" class="btn  btn-primary btn-md" onclick="onShowModal('/staff/depAndAdress')" >
                                <i class="glyphicon glyphicon-plus"></i>增加
                            </button>
                        </div>
                        <div id="addmodal_div"></div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="main_context_body">
    <table id="staff_table" class="table table-hover table-striped table-bordered">
        <thead>
        <tr class="success">
            <th>姓名</th>
            <th>编号</th>
            <th>部门</th>
            <th>职务名称</th>
            <th>电话</th>
            <th>住址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="staff:${allStaff}" th:id="${staff.sId}">
            <td th:text="${staff.sTname}"></td>
            <td th:text="${staff.sId}"></td>
            <td th:text="${staff.dId}"></td>
            <td th:text="${staff.sLevel}"></td>
            <td th:text="${staff.tPhone}"></td>
            <td th:text="${staff.tAddress}"></td>
            <td>
                <a href="javascript:void(0);" th:onclick="'onShowModal(\'/staff/getOneForAlter\','+${staff.sId}+')'">修改</a>&nbsp;&nbsp;
                <a href="javascript:void(0);" th:onclick="'deleteById(\'/staff/delete.html\',this,'+${staff.sId}+')'">删除</a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="text-right">
        <ul class="pager " style="text-align: right" data-dataUrl="/staff/allStaff.html" data-table="#staff_table" data-search="#staff_search_form" th:attr="data-thispage=${pageNum}">
            <li><a href="javascript:void(0);" onclick="pageChange(this,0);"> <span class="glyphicon glyphicon-fast-backward"></span>首页</a></li>
            <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum -1}+');'"><span class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
            <li><a  th:text="${pageNum}+'/'+${pages}"></a></li>
            <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum+1}+');'"><span class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
            <li><a href="javascript:void(0);" onclick="pageChange(this,9999);"><span class="glyphicon glyphicon-fast-forward"></span>末页</a></li>
        </ul>
    </div>
    </div>
</div>