<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeyushen.springboot01.app.mapper.CustomerInfoPojoMapper" >
  <resultMap id="BaseResultMap" type="com.zeyushen.springboot01.app.model.CustomerInfoPojo" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_sex" property="cSex" jdbcType="CHAR" />
    <result column="c_age" property="cAge" jdbcType="INTEGER" />
    <result column="c_vocation" property="cVocation" jdbcType="VARCHAR" />
    <result column="c_type" property="cType" jdbcType="VARCHAR" />
    <result column="c_degree" property="cDegree" jdbcType="VARCHAR" />
    <result column="c_level" property="cLevel" jdbcType="VARCHAR" />
    <result column="c_email" property="cEmail" jdbcType="VARCHAR" />
    <result column="c_region" property="cRegion" jdbcType="VARCHAR" />
    <result column="c_address" property="cAddress" jdbcType="VARCHAR" />
    <result column="c_describe" property="cDescribe" jdbcType="VARCHAR" />
    <result column="c_photo" property="cPhoto" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_name, c_sex, c_age, c_vocation, c_type, c_degree, c_level, c_email, c_region, 
    c_address, c_describe, c_photo,c_phone
  </sql>
    <!--查询所有-->
    <select id="getAllCustomer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_customerinfo
    </select>
<!--插入一条数据-->
    <insert id="insertOneCustomer" parameterType="com.zeyushen.springboot01.app.model.CustomerInfoPojo" >
        insert into t_customerinfo
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="cId != null" >
                c_id,
            </if>
            <if test="cName != null" >
                c_name,
            </if>
            <if test="cSex != null" >
                c_sex,
            </if>
            <if test="cAge != null" >
                c_age,
            </if>
            <if test="cVocation != null" >
                c_vocation,
            </if>
            <if test="cType != null" >
                c_type,
            </if>
            <if test="cDegree != null" >
                c_degree,
            </if>
            <if test="cLevel != null" >
                c_level,
            </if>
            <if test="cEmail != null" >
                c_email,
            </if>
            <if test="cRegion != null" >
                c_region,
            </if>
            <if test="cAddress != null" >
                c_address,
            </if>
            <if test="cDescribe != null" >
                c_describe,
            </if>
            <if test="cPhoto != null" >
                c_photo,
            </if>
            <if test="cPhone != null" >
                c_phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="cId != null" >
                #{cId,jdbcType=INTEGER},
            </if>
            <if test="cName != null" >
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cSex != null" >
                #{cSex,jdbcType=CHAR},
            </if>
            <if test="cAge != null" >
                #{cAge,jdbcType=INTEGER},
            </if>
            <if test="cVocation != null" >
                #{cVocation,jdbcType=VARCHAR},
            </if>
            <if test="cType != null" >
                #{cType,jdbcType=VARCHAR},
            </if>
            <if test="cDegree != null" >
                #{cDegree,jdbcType=VARCHAR},
            </if>
            <if test="cLevel != null" >
                #{cLevel,jdbcType=VARCHAR},
            </if>
            <if test="cEmail != null" >
                #{cEmail,jdbcType=VARCHAR},
            </if>
            <if test="cRegion != null" >
                #{cRegion,jdbcType=VARCHAR},
            </if>
            <if test="cAddress != null" >
                #{cAddress,jdbcType=VARCHAR},
            </if>
            <if test="cDescribe != null" >
                #{cDescribe,jdbcType=VARCHAR},
            </if>
            <if test="cPhoto != null" >
                #{cPhoto,jdbcType=VARCHAR},
            </if>
            <if test="cPhone!=null">
                #{cPhone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customerinfo
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_customerinfo
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeyushen.springboot01.app.model.CustomerInfoPojo" >
    insert into t_customerinfo (c_id, c_name, c_sex, 
      c_age, c_vocation, c_type, 
      c_degree, c_level, c_email, 
      c_region, c_address, c_describe, 
      c_photo)
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cSex,jdbcType=CHAR}, 
      #{cAge,jdbcType=INTEGER}, #{cVocation,jdbcType=VARCHAR}, #{cType,jdbcType=VARCHAR}, 
      #{cDegree,jdbcType=VARCHAR}, #{cLevel,jdbcType=VARCHAR}, #{cEmail,jdbcType=VARCHAR}, 
      #{cRegion,jdbcType=VARCHAR}, #{cAddress,jdbcType=VARCHAR}, #{cDescribe,jdbcType=VARCHAR}, 
      #{cPhoto,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zeyushen.springboot01.app.model.CustomerInfoPojo" >
    update t_customerinfo
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cSex != null" >
        c_sex = #{cSex,jdbcType=CHAR},
      </if>
      <if test="cAge != null" >
        c_age = #{cAge,jdbcType=INTEGER},
      </if>
      <if test="cVocation != null" >
        c_vocation = #{cVocation,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        c_type = #{cType,jdbcType=VARCHAR},
      </if>
      <if test="cDegree != null" >
        c_degree = #{cDegree,jdbcType=VARCHAR},
      </if>
      <if test="cLevel != null" >
        c_level = #{cLevel,jdbcType=VARCHAR},
      </if>
      <if test="cEmail != null" >
        c_email = #{cEmail,jdbcType=VARCHAR},
      </if>
      <if test="cRegion != null" >
        c_region = #{cRegion,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null" >
        c_address = #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cDescribe != null" >
        c_describe = #{cDescribe,jdbcType=VARCHAR},
      </if>
      <if test="cPhoto != null" >
        c_photo = #{cPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zeyushen.springboot01.app.model.CustomerInfoPojo" >
    update t_customerinfo
    set c_name = #{cName,jdbcType=VARCHAR},
      c_sex = #{cSex,jdbcType=CHAR},
      c_age = #{cAge,jdbcType=INTEGER},
      c_vocation = #{cVocation,jdbcType=VARCHAR},
      c_type = #{cType,jdbcType=VARCHAR},
      c_degree = #{cDegree,jdbcType=VARCHAR},
      c_level = #{cLevel,jdbcType=VARCHAR},
      c_email = #{cEmail,jdbcType=VARCHAR},
      c_region = #{cRegion,jdbcType=VARCHAR},
      c_address = #{cAddress,jdbcType=VARCHAR},
      c_describe = #{cDescribe,jdbcType=VARCHAR},
      c_photo = #{cPhoto,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>