<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeyushen.springboot01.app.mapper.OrderInfoPojoMapper">

    <resultMap id="BaseResultMap" type="com.zeyushen.springboot01.app.model.OrderInfoPojo">
        <id column="o_id" jdbcType="INTEGER" property="oId"/>
        <result column="s_id" jdbcType="INTEGER" property="sId"/>
        <result column="g_id" jdbcType="VARCHAR" property="gId"/>
        <result column="c_id" jdbcType="INTEGER" property="cId"/>
        <result column="o_gnum" jdbcType="INTEGER" property="oGnum"/>
        <result column="o_money" jdbcType="REAL" property="oMoney"/>
        <result column="o_gprofit" jdbcType="REAL" property="oGprofit"/>
        <result column="o_addtime" jdbcType="TIMESTAMP" property="oAddtime"/>
        <result column="o_remark" jdbcType="VARCHAR" property="oRemark"/>
        <result column="o_executetime" jdbcType="DATE" property="oExecutetime"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="o_state" jdbcType="VARCHAR" property="oState"/>
        <result column="approval_sid" jdbcType="INTEGER" property="approvalSid"/>
        <result column="sell_price" jdbcType="REAL" property="sellPrice"/>
    </resultMap>
    <sql id="Base_Column_List">
    o_id, s_id, g_id, c_id, o_gnum, o_money, o_gprofit, o_addtime, o_remark,o_executetime,p_id,o_state,approval_sid,sell_price
  </sql>
    <insert id="insertSelective" parameterType="com.zeyushen.springboot01.app.model.OrderInfoPojo">
        insert into t_orderinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oId != null">
                o_id,
            </if>
            <if test="sId != null">
                s_id,
            </if>
            <if test="gId != null">
                g_id,
            </if>
            <if test="cId != null">
                c_id,
            </if>
            <if test="oGnum != null">
                o_gnum,
            </if>
            <if test="oMoney != null">
                o_money,
            </if>
            <if test="oGprofit != null">
                o_gprofit,
            </if>
            <if test="oAddtime != null">
                o_addtime,
            </if>
            <if test="oRemark != null">
                o_remark,
            </if>
            <if test="oExecutetime!=null">
                o_executetime,
            </if>
            <if test="pId!=null">
                p_id,
            </if>
            <if test="oState!=null">
                o_state,
            </if>
            <if test="approvalSid!=null">
                approval_sid,
            </if>
            <if test="sellPrice!=null">
                sell_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oId != null">
                #{oId},
            </if>
            <if test="sId != null">
                #{sId},
            </if>
            <if test="gId != null">
                #{gId},
            </if>
            <if test="cId != null">
                #{cId},
            </if>
            <if test="oGnum != null">
                #{oGnum},
            </if>
            <if test="oMoney != null">
                #{oMoney},
            </if>
            <if test="oGprofit != null">
                #{oGprofit},
            </if>
            <if test="oAddtime != null">
                #{oAddtime},
            </if>
            <if test="oRemark != null">
                #{oRemark},
            </if>
            <if test="oExecutetime!=null">
                #{oExecutetime},
            </if>
            <if test="pId!=null">
                #{pId,},
            </if>
            <if test="oState!=null">
                #{oState},
            </if>
            <if test="approvalSid!=null">
                #{approvalSid},
            </if>
            <if test="sellPrice!=null">
                #{sellPrice},
            </if>
        </trim>
    </insert>
    <select id="getMyOrder" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_orderinfo
        where s_id=(select s_id from t_user where u_name=#{uName,jdbcType=VARCHAR} )
        and o_id like concat('%',#{oId},'%')
        <if test="oState!=null">
            and o_state like concat(#{oState},'%')
        </if>
    </select>

    <select id="getMyCheckOrder" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_orderinfo
        where (approval_sid=(select s_id from t_user where u_name=#{uName,jdbcType=VARCHAR} )
        or approval_sid is null)
        and o_id like concat('%',#{oId},'%')
        <if test="oState!=null">
            and o_state like concat(#{oState},'%')
        </if>
    </select>

    <select id="getAllStaffSale" resultType="map" parameterType="int">
        SELECT t.`s_id`,s_tname,money , profit ,num
        FROM ( SELECT s_id ,SUM(o_money) AS money ,SUM(o_gprofit) AS profit,COUNT(*)
        AS num FROM t_orderinfo WHERE
            <if test="year == null">
                DATE_FORMAT(o_addtime,'%Y') = DATE_FORMAT(NOW(),'%Y')
            </if>
            <if test="year != null">
                DATE_FORMAT(o_addtime,'%Y') = #{year}
            </if>
            AND o_state NOT IN ('审核驳回','废弃','未审核')
        GROUP BY s_id) AS o ,
        t_staff AS t
        WHERE o.s_id=t.s_id

    </select>

    <!--<select id="getAllSaleByStaff" parameterType="java.lang.Integer" resultType="map">
        SELECT t.`s_id`,s_tname,money , profit ,num
           FROM  (SELECT s_id,SUM(o_money) AS money ,SUM(o_gprofit)  AS profit,COUNT(*)
                AS num   FROM t_orderinfo   WHERE s_id = #{id}) o ,
           t_staff as t
        WHERE o.s_id=t.s_id
    </select>-->
    <update id="updateOfState" parameterType="com.zeyushen.springboot01.app.model.OrderInfoPojo">
        update t_orderinfo
        set o_state=#{oState,jdbcType=VARCHAR}
        <if test="approvalSid!=null">
            ,approval_sid=#{approvalSid}
        </if>
        where o_id = #{oId,jdbcType=INTEGER}
    </update>

    <select id="getStateById" resultType="java.lang.String" parameterType="java.lang.Integer">
        select o_state
        from t_orderinfo where o_id=#{oId}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_orderinfo
        where o_id = #{oId,jdbcType=INTEGER}
    </select>
    <select id="getAllStaffMonthSale" resultType="java.util.Map">
        SELECT money,s_tname AS `name`,`month` FROM
        (SELECT o_money AS money,s_id,DATE_FORMAT(o_addtime,'%m')AS MONTH FROM t_orderinfo
        WHERE
          <if test="year == null">DATE_FORMAT(o_addtime,'%Y') = DATE_FORMAT(NOW(),'%Y')</if>
          <if test="year != null">DATE_FORMAT(o_addtime,'%Y') = #{year}</if>
        AND (o_state NOT IN ('审核驳回','废弃','未审核')) ) AS o
        LEFT JOIN t_staff
        ON o.s_id=t_staff.s_id;
    </select>

    <select id="getAllProductSale" resultType="map" parameterType="int">
        SELECT g_name AS `name`, money  FROM ( SELECT g_id,SUM(o_money) AS money ,SUM(o_gprofit) AS profit,COUNT(*)
        AS num FROM t_orderinfo WHERE
          <if test="year == null">DATE_FORMAT(o_addtime,'%Y') = DATE_FORMAT(NOW(),'%Y')</if>
          <if test="year != null">DATE_FORMAT(o_addtime,'%Y') = #{year}</if>
        AND o_state NOT IN ('审核驳回','废弃','未审核')
        GROUP BY g_id) AS o ,
        t_goods AS t
        WHERE o.g_id=t.g_id

    </select>
    <select id="getAllProductMonthSale" resultType="java.util.Map" parameterType="int">
 SELECT money,g_name AS `name`,`month` FROM
        (SELECT o_money AS money,g_id,DATE_FORMAT(o_addtime,'%m')AS MONTH FROM t_orderinfo
        WHERE
          <if test="year == null">DATE_FORMAT(o_addtime,'%Y') = DATE_FORMAT(NOW(),'%Y')</if>
          <if test="year != null">DATE_FORMAT(o_addtime,'%Y') = #{year}</if>
        AND (o_state NOT IN ('审核驳回','废弃','未审核')) ) AS o
        LEFT JOIN t_goods
        ON o.g_id=t_goods.g_id;

    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_orderinfo
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zeyushen.springboot01.app.model.OrderInfoPojo">
    insert into t_orderinfo (o_id, s_id, g_id, 
      c_id, o_gnum, o_money, o_gprofit, 
      o_addtime, o_remark)
    values (#{oId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{gId,jdbcType=VARCHAR}, 
      #{cId,jdbcType=INTEGER}, #{oGnum,jdbcType=INTEGER}, #{oMoney,jdbcType=REAL}, #{oGprofit,jdbcType=REAL}, 
      #{oAddtime,jdbcType=TIMESTAMP}, #{oRemark,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zeyushen.springboot01.app.model.OrderInfoPojo">
        update t_orderinfo
        <set>
            <if test="sId != null">
                s_id = #{sId,jdbcType=INTEGER},
            </if>
            <if test="gId != null">
                g_id = #{gId,jdbcType=VARCHAR},
            </if>
            <if test="cId != null">
                c_id = #{cId,jdbcType=INTEGER},
            </if>
            <if test="oGnum != null">
                o_gnum = #{oGnum,jdbcType=INTEGER},
            </if>
            <if test="oMoney != null">
                o_money = #{oMoney,jdbcType=REAL},
            </if>
            <if test="oGprofit != null">
                o_gprofit = #{oGprofit,jdbcType=REAL},
            </if>
            <if test="oAddtime != null">
                o_addtime = #{oAddtime,jdbcType=TIMESTAMP},
            </if>
            <if test="oRemark != null">
                o_remark = #{oRemark,jdbcType=VARCHAR},
            </if>
        </set>
        where o_id = #{oId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zeyushen.springboot01.app.model.OrderInfoPojo">
    update t_orderinfo
    set s_id = #{sId,jdbcType=INTEGER},
      g_id = #{gId,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=INTEGER},
      o_gnum = #{oGnum,jdbcType=INTEGER},
      o_money = #{oMoney,jdbcType=REAL},
      o_gprofit = #{oGprofit,jdbcType=REAL},
      o_addtime = #{oAddtime,jdbcType=TIMESTAMP},
      o_remark = #{oRemark,jdbcType=VARCHAR}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>