<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="main_table">

    <!--顶栏-->
    <nav class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>

                <!--内容面板顶栏左侧   formID不能和其他页面重复-->
                <form class="navbar-form navbar-left" role="search" id="productChart_search_form}">

                    <div class="form-group">
                        <span>产品名称</span>
                        <select class="form-control"  >
                            <option value="0">所有</option>
                            <option th:each="goods :${goodsList}" th:value="${goods.g_id}" th:text="${goods.gname}">选择一</option>
                        </select>
                    </div>
                    <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px"
                            onclick="onSelect(this)">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                </form>

                <!--内容面板顶栏右侧-->
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 10px">
                            <button type="button" class="btn  btn-primary btn-md"
                                    onclick="onShowModal('/productChart/add.html')"><!--弹出框URL-->
                                <i class="glyphicon glyphicon-plus"></i>增加
                            </button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!--表格主体-->
    <div class="main_context_body">





    </div>
</div>