<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="main_table">
    <!--顶栏-->
    <nav class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>

                <!--内容面板顶栏左侧   formID不能和其他页面重复-->
                <form class="navbar-form navbar-left" role="search" id="staffChart_search_form}">

                    <div class="form-group">
                        <span>员工:</span>
                        <select class="form-control" name=>
                            <option value="0">选择一</option>
                            <option th:each="staff :${staffList}" th:value="${staff.sId}" th:text="${staff.sTname}">选择一</option>
                        </select>
                    </div>
                </form>

                <!--内容面板顶栏右侧-->
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">

                </ul>

            </div>
        </div>
    </nav>

    <!--表格主体-->
    <div class="main_context_body container-fluid">
        <div class="row-fluid">
            <div class="col-md-6">
                <div id="staff_chart_container_pie" style="width: 100%; margin: 0 auto"></div>
            </div>
            <div class="col-md-6">
                <div id="staff_chart_container_line" style="width: 100%; margin: 0 auto"></div>
            </div>
        </div>

        <script language="JavaScript">
            var data = getData("/orderChart/getAllStaffSale");
            console.log(data);
            showPie(data);
        </script>

        <script language="JavaScript">
            $(document).ready(function () {
                var title = {
                    text: '销售走势图'
                };
                var subtitle = {
                    text: '显示各个员工每月销量'
                };
                var xAxis = {
                    categories: ['一月', '二月', '三月', '四月', '五月', '六月',
                        '七月', '八月', '九月', '十月', '十一月', '十二月']
                };
                var yAxis = {
                    title: {
                        text: '销量 (元)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                };

                var tooltip = {
                    valueSuffix: '元'
                }

                var legend = {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                };

                var series = [
                    {
                        name: 'Tokyo',
                        data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2,
                            26.5, 23.3, 18.3, 13.9, 9.6]
                    },
                    {
                        name: 'New York',
                        data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8,
                            24.1, 20.1, 14.1, 8.6, 2.5]
                    },
                    {
                        name: 'London',
                        data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0,
                            16.6, 14.2, 10.3, 6.6, 4.8]
                    },
                    {
                        name: '我的天',
                        data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8,
                            24.1, 20.1, 14.1, 8.6, 2.5]
                    }
                ];

                var json = {};

                json.title = title;
                json.subtitle = subtitle;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.tooltip = tooltip;
                json.legend = legend;
                json.series = series;

                $('#staff_chart_container_line').highcharts(json);
            });
        </script>


    </div>
</div>