<!DOCTYPE html>
<!--已审核的订单-->
<html xmlns:th="http://www.thymeleaf.org">
<div class="main_table">

    <!--顶栏-->
    <nav class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>

                <!--内容面板顶栏左侧   form ID不能和其他页面重复-->
                <form class="navbar-form navbar-left" role="search" id="goods_search_form">
                    <div class="form-group">
                        <span>输入框</span>
                        <input type="text" class="form-control" name="gName">
                    </div>
                    <div class="form-group">
                        <span>下拉框</span>
                        <select class="form-control" name="gAuthor">
                            <option value="1">选择一</option>
                            <option value="2">选择二</option>
                            <option value="2">选择三</option>
                        </select>
                    </div>
                    <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px"
                            onclick="onSelect(this)">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                </form>

                <!--内容面板顶栏右侧-->
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 10px">
                            <button type="button" class="btn  btn-primary btn-md"
                                    onclick="onShowModal('/goods/addGoods.html')">
                                <i class="glyphicon glyphicon-plus"></i>增加
                            </button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!--表格主体-->
    <div class="main_context_body">
        <!--table ID不能和其他页面重复-->
        <table id="goods_table" class="table table-hover table-striped table-bordered">
            <thead>
            <tr class="success">
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.sex}"></td>
                <td th:text="${user.remark}"></td>
                <td>
                    <a href="javascript:void(0);"
                       th:onclick="'onShowModal(\'/goods/update.html\','+${goods.gId}+')'">修改</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);"
                       th:onclick="'deleteById(\'/goods/delsedeGoods\',this,'+${goods.gId}+')'">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页
        data-dataUrl = "当前页面名称"
        data-table   = "当前页面表格选择器"
        data-search  = "搜索表单选择器"
        data-thispage= "当前页码"
                -->
        <div class="text-right">
            <ul class="pager " data-dataUrl="/goods/goods.html" data-table="#goods_table"
                data-search="#goods_search_form" th:data-thispage="${pageNum}">
                <li><a href="javascript:void(0);" onclick="pageChange(this,0);"> <span
                        class="glyphicon glyphicon-fast-backward"></span>首页</a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum -1}+');'"><span
                        class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                <li><a th:text="${pageNum}+'/'+${pages}"></a></li>
                <li><a href="javascript:void(0);" th:onclick="'pageChange(this,'+${pageNum+1}+');'"><span
                        class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                <li><a href="javascript:void(0);" onclick="pageChange(this,9999);"><span
                        class="glyphicon glyphicon-fast-forward"></span>末页</a></li>
            </ul>
        </div>
    </div>
</div>