<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <span>姓名 : </span>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <span>部门 : </span>
                        <select class="form-control">
                            <option>所有</option>
                            <option>开发部</option>
                            <option>人事部</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>性别 : </span>
                        <select class="form-control">
                            <option>所有</option>
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                    <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                </form>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 10px">
                            <button type="button" class="btn  btn-primary btn-md" onclick="onAdd(this)">
                                <i class="glyphicon glyphicon-plus"></i>增加
                            </button>
                        </div>
                        <div id="addmodal_div"></div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <table id="main_table" class="table table-hover table-striped table-bordered">
        <thead>
        <tr class="success">
            <th>客户编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>所属行业</th>
            <th>客户类型</th>
            <th>重要程度</th>
            <th>客户级别</th>
            <th>客户邮箱</th>
            <th>联系方式</th>
            <th>客户地区</th>
            <th>客户地址</th>
            <th>客户描述</th>
            <th>客户照片</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="allCustomer:${allCustomer}">
            <td th:text="${allCustomer.cId}"></td>
            <td th:text="${allCustomer.cName}"></td>
            <td th:text="${allCustomer.cSex}"></td>
            <td th:text="${allCustomer.cAge}"></td>
            <td th:text="${allCustomer.cVocation}"></td>
            <td th:text="${allCustomer.cType}"></td>
            <td th:text="${allCustomer.cDegree}"></td>
            <td th:text="${allCustomer.cLevel}"></td>
            <td th:text="${allCustomer.cEmail}"></td>
            <td th:text="${allCustomer.cPhone}"></td>
            <td th:text="${allCustomer.cRegion}"></td>
            <td th:text="${allCustomer.cAddress}"></td>
            <td th:text="${allCustomer.cDescribe}"></td>
            <td th:text="${allCustomer.cPhoto}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <ul class="pager " style="text-align: right">
            <li><a onclick="page(0);"> <span class="glyphicon glyphicon-fast-backward"></span>首页</a></li>
            <li><a th:onclick="'page('+${pageNum-1}+');'"><span class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
            <li><a  th:text="${pageNum}+'/'+${pages}"></a></li>
            <li><a  th:onclick="'page('+${pageNum+1}+');'"><span class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
            <li><a id="endPage" onclick="page(9999);"><span class="glyphicon glyphicon-fast-forward"></span>末页</a></li>
        </ul>
    </div>
</div>
<script>
    function page(pageNum) {
        $("#table_paging").load("/staff/allStaff.html",data={pageNum:pageNum,onlyData:true});
    }


    function onAdd(a) {
        $(a).parent().next().load("/customer/adress", function () {
            $(a).parent().next().find("#addModal").modal({keyboard: true});
        });

    }

    $(function () {
        $('#main_table  td> .collapse').on('show.bs.collapse', function () {
            console.log($(this));
            $(this).parent().removeClass("hide");
            $("a[href='#" + $(this).attr('id') + "']").parent().parent().addClass("info");
        });
        $('#main_table  td> .collapse').on('hidden.bs.collapse', function () {
            console.log($(this));
            $("a[href='#" + $(this).attr('id') + "']").parent().parent().removeClass("info");
            $(this).parent().addClass("hide");
        });
    });
</script>